<!DOCTYPE html>
<html>
  <head>
    <title>Authors</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
  </head>
  <body>
    <h1>Our Authors</h1>

    Display authors
    <ul>
      <% authors.forEach(author => { %>
      <li><%= author.authorName %> - Bio: <%= author.authorBio %></li>
      <% }) %>
    </ul>

    <!-- Form to add a new author  -->
    <h2>Add a New Author</h2>
    <form action="/authors" method="POST">
      <input
        type="text"
        name="authorName"
        placeholder="Author Name"
        required
      /><br />
      <textarea name="authorBio" placeholder="Author Bio" required></textarea
      ><br />
      <button type="submit">Add Author</button>
    </form>

    <!-- Link to other pages -->
    - <br />
    <a href="/books-list">All Books</a>
    <a href="/categories-list">Categories</a>
    <a href="/reviews-list">Reviews</a>
  </body>
</html>
