<!DOCTYPE html>
<html>
  <head>
    <title>Categories</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
  </head>
  <body>
    <h1>Categories</h1>

    <!-- Display categories -->
    <ul>
      <% categories.forEach(category => { %>
      <li>
        <%= category.categoryName %> - Description: <%=
        category.categoryDescription %>
      </li>
      <% }) %>
    </ul>

    <!-- Form to add a new category -->
    <h2>Add a New Category</h2>
    <form action="/categories" method="POST">
      <input
        type="text"
        name="categoryName"
        placeholder="Category Name"
        required
      /><br />
      <textarea
        name="categoryDescription"
        placeholder="Category Description"
        required
      ></textarea
      ><br />
      <button type="submit">Add Category</button>
    </form>

    <!-- Links to other pages -->
    <br />
    <a href="/users" class="btn btn-info ml-2">User Dashboard</a>
    <a href="/books-list">All Books</a>
    <a href="/authors-list">Authors</a>
  </body>
</html>
