<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Edit Book</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center mb-4">Edit Book</h1>

      <!-- Here we should be able to Edit the Book Form -->
      <form action="/books/edit/<%= book.id %>" method="POST" class="row g-3">
        <!-- this simulates the  PATCH method -->
        <input type="hidden" name="_method" value="PATCH" />

        <div class="col-md-4">
          <input
            type="text"
            name="bookName"
            value="<%= book.bookName %>"
            class="form-control"
            required
          />
        </div>
        <div class="col-md-4">
          <input
            type="text"
            name="bookAuthor"
            value="<%= book.bookAuthor %>"
            class="form-control"
            required
          />
        </div>
        <div class="col-md-4">
          <input
            type="number"
            name="bookPrice"
            value="<%= book.bookPrice %>"
            class="form-control"
            required
          />
        </div>
        <div class="col-12 mt-3">
          <button type="submit" class="btn btn-primary">Update Book</button>
        </div>
      </form>

      <!-- Back to Books list -->
      <div class="mt-4">
        <a href="/books" class="btn btn-secondary">Back to Book List</a>
      </div>
    </div>
  </body>
</html>
