<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LiberUnited Book Management System</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/stylesheets/style.css"
    />
  </head>
  <body>
    <!-- Liber means books in Latin :) -->
    <h1>Welcome to LiberUnited Book Management System</h1>

    <h2>Available Books</h2>
    <ul>
      <% books.forEach(book => { %>
      <li><%= book.bookName %> by <%= book.bookAuthor %></li>
      <% }) %>
    </ul>

    <a href="/books-list">View All Books</a>
    <a href="/authors-list">View Authors</a>
    <a href="/categories-list">View Categories</a>
  </body>
</html>
